* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1;
  padding-bottom: 25px;
}
.big {
  text-align: center;
  background-color: transparent;
  color: black;

  padding: 30px;
}
.row {
  margin-bottom: 1.25rem;
}

.description {
  white-space: pre-wrap;
}
.textarea {
  background: transparent;
  width: 100%;
  min-height: 80px;
  border: none;
  resize: none;
  color: #050505;
  border-left: 2px solid rgb(0, 0, 0);
  padding: 10px;
  color: black;
}
.present {
  background-color: #ff6961;
}

.future {
  background-color: #66eb66;
}
.past {
  background-color: #c9c9c9;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px solid #000000;
}
.time-block {
  text-align: center;
  border-radius: 15px;
}
.save-button {
  border-left: 1px solid #000;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
  text-align: center;
  display: block;
  background-color: #01afd6;
}
.save-button:hover {
  background-color: rgb(97, 142, 226);
}
/*CSS comments*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  left: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(90, 87, 87); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}
#col {
  background-color: rgb(252, 251, 246);
}
#sticky-footer {
  color: black;
  margin-bottom: 25px;
  opacity: 70%;
  background-color: rgba(0, 0, 0, 0.6);
  padding-left: 5px;
}
