* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  line-height: 1;
}
.big {
  text-align: center;
  background-color: transparent;
  color: black;
}
