/* :root {
    filter: invert(100%);
  } */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  line-height: 1;
}
.big {
  text-align: center;
  background-color: transparent;
  color: black;
  padding: 30px;
}
textarea{
    background: transparent;
    width: 100%;
    min-height: 5rem;
    border: none;
    resize: none;
    color: white;
    border-left: white
    padding: 10px;
    color: black;
  }
  .present {
    background-color: #ff6961;
  }
  
  .future {
    background-color: #77dd77;
  }